html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

*, :after, :before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

img {
  display: inline-block;
  vertical-align: top;
  border-style: none;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.h1, h1 {
  font-size: 36px;
}

.ant-input {
  text-indent: 6px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  background: none;
}

.ant-input:focus, .ant-input:active {
  border-color: #9e9e9e !important;
  box-shadow: none !important;
}

.ant-input:hover {
  border-color: #9e9e9e !important;
}

.ant-input-prefix, .ant-input-suffix {
  font-size: 16px;
  color: #9e9e9e !important;
}

.anticon-close-circle {
  cursor: pointer;
}