.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: #ffffff;
  background-color: #20232a;
  z-index: 1;
}

.banner-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1340px) {
  .banner-wrapper {
    max-width: 1260px;
  }
}

@media screen and (min-width: 780px) {
  .banner-wrapper {
    width: 90%;
  }
}

.banner-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
}

.banner-title-link {
  display: flex;
  margin-right: 10px;
  height: 100%;
  align-items: center;
  color: #61dafb;
  -webkit-box-align: center;
  -webkit-align-items: center;
}

@media screen and (min-width: 600px) {
  .banner-title-link {
    width: calc(100% / 6);
  }
}

.banner-title {
  color: inherit;
  margin-left: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.content {
  position: absolute;
  top: 45px;
  bottom: 70px;
  width: 100%;
}

.login-form {
  position: absolute;
  margin: -222px 0 0 -210px;
  top: 50%;
  left: 50%;
  width: 420px;
  padding-bottom: 60px;
  color: #C1C1C1;
  font-size: 14px;
}

.login-form ul {
  padding: 0;
  list-style: none;
}

.login-form ul li {
  line-height: 20px;
}

.password-field {
  margin: 36px 0;
}

.verify-code-field {
  display: inline-block;
  width: 285px;
  margin-right: 45px;
}

.verify-code-pic {
  width: 90px;
  height: 40px;
  background: yellow;
  border-radius: 4px;
  vertical-align: top;
}

.button-area {
  margin-top: 36px;
}

.button-area button {
  width: 100%;
}

.errorTip {
  position: relative;
  display: block;
  margin-top: 5px;
  min-height: 25px;
  line-height: 25px;
}

.err-msg {
  font-size: small;
  color: red;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-size: 12px;
  line-height: 70px;
  color: #999;
  text-align: center;
  background-color: #373d41;
  clear: both;
}