.container {
  display: grid;
  height: inherit;
  grid-template-columns: 256px 1fr;
  grid-template-rows: 64px 1fr;
  grid-template-areas: 'sidebar header' 'sidebar main';
}

.header {
  grid-area: header;
  line-height: 64px;
}

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid #f0f0f0;
  background-color: #000c17;
}

.content {
  grid-area: main;
  margin: 24px;
}